body {
  background-color: #383a59;
  color: #fff;
}
.App {
  font-family: sans-serif;
}
.App a {
  color: #fff;
}
.user {
  display: flex;
  flex-direction: column;
}
.user span {
  font-size: 1.2rem;
  color: #9fa3df;
}
